*{
    box-sizing: border-box;
    pedding: 0;
    margin:0%
}
h1{
    color: #833f08;
}
.t1{
    color: #072cffbe;
}
.texto{
    color: #1100ff;
}
branco{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
}
.black{
    width: 100%;
    height: 300px;
    background-color:black ;
}
header{
padding: 10PX;
}
footer{
padding: 30PX;
text-align: center;
font-size: 12 px;
}